{% extends 'base.html' %}
{% load fontawesome_5 %}
{% block title %}
    Employee Home
{% endblock %}

  {% block header %}
<div class="card bg-info col-sm-6 container">
    <div class="card-body">
      {% if user.is_authenticated %}
        Hello Employee {{ user.username }}!

      {% else %}
        <p>You are at the employee index, but you are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'accounts:register' %}">Sign Up</a>
      {% endif %}
    </div>
</div>
{% endblock %}




{% block content %}

<div class="card">
    <h4 class="card-header text-center">
        <p>Assigned Customers</p>
        <div class="text-right">Current Zip: {{ employee.assigned_zip_code }}
                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#editAssignedZip"> Edit
                </button>
        </div>

    </h4>
    <div class="text-right">
            <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Day of Week Preview
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 0 %}">Monday</a></li>
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 1 %}">Tuesday</a></li>
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 2 %}">Wednesday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 3 %}">Thursday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 4 %}">Friday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 5 %}">Saturday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 6 %}">Sunday</a></li>
      </ul>
        </div>
    </div>


    <div class="card-body">

            <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Customer</th>
                      <th>User ID</th>
                      <th>Pickup DOW</th>
                      <th>Pickup Zip</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                   {% for customer in all_customers %}
                      <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.user }}</td>
                        <td>{{ customer.dow }}</td>
                        <td>{{ customer.default_pickup_zipcode }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'employees:confirmation' customer.id %}">
                                Confirm</a>
                        </td>
                      </tr>
                   {% endfor %}
                </tbody>
            </table>
    </div>
    </div>


<div class="modal fade" id="editAssignedZip" tabindex="-1" role="dialog" aria-labelledby="zipModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Assigned Zip</h5>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    <!-- form as paragraph -->
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary btn-sm" type="submit" name="save" value="Save">
                    <a class="btn btn-secondary btn-sm" href="" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}