{% extends 'base.html' %}
{% load fontawesome_5 %}
{% block title %}
    Preview
{% endblock %}

  {% block header %}
    <div class="card bg-info col-sm-6 container">
        <div class="card-body text-center">
           Weekday
        </div>
    </div>
{% endblock %}




{% block content %}
<div class="card">
    <h4 class="card-header text-center">Preview</h4>
    <div class="text-right">
            <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Day of Week Preview
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 0 %}">Monday</a></li>
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 1 %}">Tuesday</a></li>
        <li><a class="dropdown-item"  href="{% url 'employees:preview' 2 %}">Wednesday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 3 %}">Thursday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 4 %}">Friday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 5 %}">Saturday</a></li>
          <li><a class="dropdown-item"  href="{% url 'employees:preview' 6 %}">Sunday</a></li>
      </ul>
        </div>
    </div>


    <div class="card-body">

            <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Customer</th>
                      <th>User ID</th>
                      <th>Pickup DOW</th>
                      <th>Pickup Zip</th>
                  </tr>
                </thead>
                <tbody>
                   {% for customer in all_customers %}
                      <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.user }}</td>
                        <td>{{ customer.dow }}</td>
                        <td>{{ customer.default_pickup_zipcode }}</td>
                      </tr>
                   {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}