<nav class="navbar navbar-dark bg-primary mb-4" style="margin-bottom: 0px !important">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>Trash Collector</strong>
            {% if user.is_authenticated %}
              {% for group in user.groups.all%}
                {% if group.name == "Customers" %}
                    <em>- Customer Navbar</em>
                {% elif group.name == "Employees" %}
                    <em>- Employee Navbar</em>
                {% endif %}
              {% endfor %}
            {% endif %}
        </a>
        {% if user.is_authenticated %}
            {% for group in user.groups.all%}
                {% if group.name == "Employees" %}
                    <a class="btn btn-navbar btn-primary btn-navbar-span" href="/customers/table/">Customers</a>
                    <a class="btn btn-navbar btn-primary btn-navbar-span" href="/admin">Admin</a>
                {% endif %}
            {% endfor %}
            <a class="btn btn-navbar btn-primary btn-navbar-span" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="navbar-nav ms-auto btn btn-navbar btn-primary" href="{% url 'login' %}" style="margin-right: 15px;" >Log In</a>
            <a class="btn btn-navbar btn-primary" href="{% url 'accounts:register' %}">Sign Up</a>
        {% endif %}
    </div>
</nav>

