{% extends 'base.html' %}

{% block title %}
    Address Addition
  {% endblock %}
  {% block header %}
    <div class="card col-sm-12 bg-info" >
        <div class="card-body">
           Add an Address
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-body">
        <h5> {{ type }} Address  </h5>

        {% if error_message %}
            <p class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            <!-- Security token by Django -->
            {% csrf_token %}

            <!-- form as paragraph -->
            {{ form.as_p }}
            <input class="btn btn-primary btn-sm" type="submit" name="save" value="Save">
            <a class="btn btn-secondary btn-sm" href="/customers/index/">Cancel </a>
        </form>
    </div>
</div>

{% endblock %}
