{% block head_add %}
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
    <script>
      // Initialize and add the map
      function initMap() {
        const customer_location = { lat: -25.344, lng: 131.036 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 6,
          center: customer_location,
        });
        const marker = new google.maps.Marker({
          position: customer_location,
          map: map,
        });
      }
    </script>
{% endblock %}

{% block content %}
<div class="card col-sm-5 text-center">
    <div class="card-body">
              <!--The div element for the map -->
        <div id="map" class="margin-left: 15px;" ></div>
    </div>
</div>

{% endblock %}