{% extends 'base.html' %}

{% block title %}
    Home Portal
  {% endblock %}
  {% block header %}
    <div class="card col-sm-12 bg-info" >
        <div class="card-body">
           Customer Home Portal
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="card col-sm-12">
    {% if error_message %}
        <p class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}
    <div class="row">
        <div class="card col-sm-4 customer-card">
            <div class="card-body">
                <h5 class="card-title"> Welcome {{ customer }}!</h5>
                <p class="card-text">UserID:  {{ user }} </p>
                <br>
                <p class="card-text">Current Bill: {{ customer.current_bill_amount }} </p>
                <p class="card-text">Currency: {{ customer.default_currency_code }} </p>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="example@email.com">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="item_name" value="Pickup Bill">
  <input type="hidden" name="amount" value="{{ customer.current_bill_amount }}">
  <input type="hidden" name="currency_code" value="{{ customer.default_currency_code }}">

      <input type="submit" class="btn btn-secondary btn-sm" value="Pay bill"  name="submit" border="0">

</form>
            </div>
        </div>
        <div class="card col-sm-4 customer-card">
            <div class="card-body">
                <P class="card-title text-center"><strong>Billing Address</strong></P>
                <p class="card-text">Address 1  :  {{ billing_obj.address1 }}</p>
                <p class="card-text">Address 2  :  {{ billing_obj.address2 }}</p>
                <p class="card-text">City/St/Zip:  {{ billing_obj.city_name }},  {{billing_obj.state_code}}  {{ billing_obj.zip_code}}</p>
                <p class="card-text">Country    :  {{ billing_obj.country_code }}</p>
                {% if billing_obj.id %}
                    <a type="button"
                            class="btn btn-primary btn-sm"
                            href="{% url 'addresses:update' billing_obj.id%}"> Edit
                    </a>
                {% else %}
                    <a type="button"
                            class="btn btn-primary btn-sm"
                            href="{% url 'addresses:create' customer.id 'B' %}"> Add
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card col-sm-4 customer-card">
            <div class="card-body">
                <p class="card-title text-center"> <strong> Scheduling </strong> </p>
                <p class="card-text">Scheduled pickup weekday: {{ customer.dow }} </p>
                <p class="card-text">Extra Pickup Date: {{ customer.one_time_date }} </p>
                <p class="card-text">Temp suspension start: {{ customer.suspension_start_date }} </p>
                <p class="card-text">Temp suspension end: {{ customer.suspension_end_date }} </p>
                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#editSchedulingDetails"> Edit
                </button>
            </div>
        </div>
        <div class="card col-sm-4 customer-card">
            <div class="card-body">
                <P class="card-title text-center"><strong>Pickup Address</strong></P>
                <p class="card-text">Address 1  :  {{ pickup_obj.address1 }}</p>
                <p class="card-text">Address 2  :  {{ pickup_obj.address2 }}</p>
                <p class="card-text">City/St/Zip:  {{ pickup_obj.city_name }},  {{pickup_obj.state_code}}  {{ pickup_obj.zip_code}}</p>
                <p class="card-text">Country    :  {{ pickup_obj.country_code }}</p>
                {% if pickup_obj.id %}
                    <a type="button"
                            class="btn btn-primary btn-sm"
                            href="{% url 'addresses:update' pickup_obj.id%}"> Edit
                    </a>
                {% else %}
                    <a type="button"
                       class="btn btn-primary btn-sm"
                       href="{% url 'addresses:create' customer.id 'P' %}"> Add
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card col-sm-4 customer-card">
            <div class="card-body">
                <p class="card-title text-center"> <strong> Map </strong> </p>
                {% if pickup_obj.id %}
                    {% include "customers/customer_map2.html/" %}
                {% else %}
                    <p></p>
                    <p class="text-center" >No address available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editSchedulingDetails" tabindex="-1" role="dialog" aria-labelledby="schedulingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Scheduling Information</h5>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    <!-- form as paragraph -->
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary btn-sm" type="submit" name="save" value="Save">
                    <a class="btn btn-secondary btn-sm" href="" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}