{% extends 'base.html' %}
{% load fontawesome_5 %}
{% block content %}
<div class="card">
    <h4 class="card-header text-center">Customers List</h4>
    <div class="text-right">
        <a class="btn btn-primary btn-sm add-btn text-right" href="create/" role="button">{% fa5_icon 'plus' 'fas' %} Add </a>
    </div>
<!--    <p class="card-title">What's your favorite: DC or Marvel?</p>-->
    <div class="card-body">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>User ID</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                   {% for customer in all_customers %}
                      <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.user }}</td>
                        <td>
                            <a href="{% url 'customers:detail' customer.id %}">
                                {% fa5_icon 'info' 'fas' size='fa-xs' %} Details</a>
                            <a href="{% url 'customers:update' customer.id %}">
                                {% fa5_icon 'edit' 'far' %} Edit</a>
                            <a href="{% url 'customers:delete' customer.id %}">
                                {% fa5_icon 'trash-alt' 'far' %} Delete</a>
                        </td>
                      </tr>
                   {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}