{% extends 'base.html' %}
{% load fontawesome_5 %}
{% block content %}
<div class="card">
    <h4 class="card-header text-center">Customer List</h4>
    <div class="text-right">
        <a class="btn btn-secondary btn-floating add-btn" href="create/" role="button"
           style="margin-right: 10px; margin-top: 5px; ">{% fa5_icon 'plus' 'fas' %}</a>
    </div>
<!--    <p class="card-title">What's your favorite: DC or Marvel?</p>-->
    <div class="card-body">

            <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Customer</th>
                      <th>User ID</th>
                      <th>Pickup DOW</th>
                      <th>Pickup Zip</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                   {% for customer in all_customers %}
                      <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.user }}</td>
                        <td>{{ customer.dow }}</td>
                        <td>{{ customer.default_pickup_zipcode }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'customers:detail' customer.id %}">
                                {% fa5_icon 'info' 'fas' size='fa-sm' %}</a>
                            <a class="btn btn-outline-success" style="margin-left: 10px" href="{% url 'customers:update' customer.id %}">
                                {% fa5_icon 'edit' 'far' size='fa-sm' %}</a>
                            <a class="btn btn-outline-danger" style="margin-left: 10px" href="{% url 'customers:delete' customer.id %}">
                                {% fa5_icon 'trash-alt' 'far' size='fa-sm' %}</a>
                        </td>
                      </tr>
                   {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}